header{
    h3{
        color: $blackColor;
        &:hover{
            cursor: pointer;
            color: aqua;
        }
        &::after{
            content: 'hisss';
        }
    }
    .h4{
        color:$blackColor;
    }
}